<div id="add-restaurant" style="display: block">
    <h2>Add a new restaurant: </h2>
    <p>To add a new restaurant, please enter the information below and click 'Submit'! </p> 
    <p><small>Note: * indicates a required field.</small></p>

    <form id="add-restaurant-form-ajax">
        <p><label for="input-restaurant-name">* Restaurant Name: </label>
        <input type="text" name="input-restaurant-name" id="input-restaurant-name" placeholder="Savor" required></p>

        <p><label for="input-restaurant-website" required>Restaurant Website: </label>
        <input type="text" name="input-restaurant-website" id="input-restaurant-website" placeholder="savor.com" required></p>

        <p><label for="input-restaurant-email" required>Restaurant Email: </label>
        <input type="text" name="input-restaurant-email" id="input-restaurant-email" placeholder="savorrestaurant.com" required></p>

        <p><label>* City:&nbsp;</label>
        <select name="input-restaurant-city" id="input-restaurant-city">
            <option value="">Select a City</option>
            {{#each cities}}
            <option value="{{this.city_id}}" required>{{this.city_name}}</option>
            {{/each}}
        </select></p>

        {{!-- <span id="add-rest-error"><span> --}}
        <input type="submit">
        <input type="button" value="Cancel" onClick="browseRestaurants()"></p>

    </form>

<script src="./js/restaurants_insert.js"></script>
