<h1 align="center"><strong>Grubmaster</strong></h1>

<nav class="navbar navbar-inverse center" align="center"> 
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-outline-primary" href="/">Homepage</button> | <button class="btn btn-outline-primary" href="/restaurants">Restaurants</button> | <button class="btn btn-outline-primary" href="/cuisines">Cuisines</button> | <button class="btn btn-outline-primary" href="/cities">Cities</button> | <button class="btn btn-outline-primary" href="/users">Users</button> | <button class="btn btn-outline-primary" href="/reviews">Reviews</button> | <button class="btn btn-outline-primary" href="/restaurant_has_cuisines">Restaurants' Cuisines</button>
        </div>
    </div>
</nav>
</div>

